Are head elements strictly limited to the spec list?

Hi @scripting, I'm working on my PHP lib to parse OPML ([lib\_opml](https://framagit.org/marienfressinaud/lib_opml)) and I have (at least) one question. The specification states:

> A `<head>` contains zero or more optional elements, described below.

so I understand the head elements are strictly limited to the list of 13 elements of the spec (e.g title, dateCreated, etc.), but the [`states.opml` example](http://opml.org/examples/states.opml?format=opml) contains some elements which aren't defined (e.g. description, ownerTwitterScreenName, etc.)

Is it an error in the example or should we clarify the specification?

Hi @marienfressinaud --

It's a good point. It's been a long time since the spec was written and we've been adding elements to the head section pretty much at will, without documenting them. 

We might do an addendum to the spec at some point to list them all.

A lot of them are mentioned in the blog docs for Drummer, my latest outliner whose native file format is OPML

http://drummer.scripting.com/

The blogging docs are linked to from the Docs menu.

BTW, it's clear the docs are going to have to mention this. Thanks for calling out the question.

I have a few other comments (e.g. what to do with attributes which does not match the format, such as dates attributes). Do you want I add them to this ticket, or should I open a ticket for each comment? (it will probably not be the next few days since I'm pretty busy)

Just add them to this thread.

Sorry for the delay, here's my list of questions/comments I had while reading the specifications.

- what should be the default behaviour of parsers if a file is not a valid OPML? Some errors I could think of:
    - missing (or more than 1) head or body elements
    - missing or invalid `version`
    - unknown head elements
    - body containing non-outline elements (or empty body)
    - type errors (e.g. datetime, integer, boolean, email or HTTP URL elements/attributes not being of the correct type)
    - missing attributes (`text`, `xmlUrl` for `type=rss`, `url` for `type=link` or `type=include`)
- could the `numbers` elements be of type `float`? or are they only `integer`?
- are `isComment` and `isBreakpoint` case-sensitive?
- `category` is not clear to me
    - the mentioned "RSS 2.0 category" document doesn't define the element the same way (no mentions of comma-separated strings)
    - is the attribute `category="Science / Communication"` (i.e. not starting with a `/`) a "tag"?
- "HTTP URLs" are never defined in the spec (add a reference to [RFC 9110](https://datatracker.ietf.org/doc/html/rfc9110#section-4)?)
- date-times must conform to RFC 822 with an exception for years: 4 characters are accepted. This is defined by the [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123/#page-55) so it could be mentioned

About the errors, my approach in lib\_opml is to offer a way to lower the strictness of the parser (default is not strict) and of the renderer (default is strict). When strictness is disabled, lib\_opml ignores most of the errors and populates its structure with the raw data. I think it's the best approach for a parser since a lot of OPMLs generated by aggregators are invalid out there ;)

Must the `<head>` element be before the `<body>` element? I've only seen them in that order but the spec doesn't specify as such.

@mincerafter42 -- OPML is XML and XML says nothing about the order of elements, so you _could_ put the body element before the head element, but why would you?

@marienfressinaud -- I'll answer some of your questions...

1. The basic rule is ignore what you don't understand. Other than that I don't know what people should do if there are missing attributes or more than one head element. If you can't make sense of something, don't try. 

2. I don't know what numbers elements you're referring to. But if the spec calls for a number, it's an integer, not a floating point value. 

3. XML is case-sensitive and OPML is XML so it is also case-sensitive. 



> OPML is XML and XML says nothing about the order of elements, so you could put the body element before the head element, but why would you?

I was wondering in the case of parsing, not writing.

Further grey areas:
* When an included OPML file is expanded, are its `<outline>`s included in the calculation for `expansionState`? e.g. to expand the "New York" outline in <http://hosting.opml.org/dave/spec/placesLived.opml>; would one append "16" or "33" to `expansionState`? I would assume "16" but the specification is not explicit.
* The description of `expansionState` suggests it cannot expand an outline that is the descendant of a non-expanded outline when both are within the same OPML file; is this correct?

> `<expansionState>` is a comma-separated list of line numbers that are expanded. The line numbers in the list tell you which headlines to expand. The order is important. For each element in the list, X, starting at the first summit, navigate flatdown X times and expand. Repeat for each element in the list.


it all revolves around what "flatdown" means. 

you can try it out in [Drummer](https://drummer.land/) if you want.

flatdown is invoked by hitting the rightarrow key.

do what the spec says to do, it's giving you the algorithm. 

hope that helps.

I just did a chatgpt query and they got something wrong. They say some software uses zero-base and some use one-base.

The spec is really clear. It says to go flatdown X times. That's neither zero or one-based. It a number of times, if it says 1, that means go flatdown 1 time. There's absolutely nothing vague about that. 