HTTP content-type for OPML files?

I have a server that's returning OPML files. 

It's not the first time I've done this, but now there seem to be enough other people interested in this that it's worth raising this question. 

What content type should I use? Generally I've been using text/xml. 

But I see other people using text/opml. 

I asked ChatGPT what it thinks and it [says](https://chatgpt.com/share/d7864fe3-3f05-4588-bfe1-a5c3ec48baa9) that text/x-opml is the standard. 

Meta.ai says application/opml+xml.

I'm interested primarily in what other people are currently doing. 

You should use the standard syntax for mime type suffixes and/or subtypes. There is a well-defined standard for this. 

It could be any of:
text/xml.opml
text/xml+opml 
Or even:
text/xml;opml

I think the second one (+opml) is the proper use of a suffix to refine the primary type. 

https://en.m.wikipedia.org/wiki/Media_type

The OPML spec says it's `text/x-opml` in its 8th note, see <http://opml.org/spec2.opml#1629043129000>.

As much as I'd like to see `application/opml+xml` being used, it's not registered with IANA.

> The OPML spec says it's `text/x-opml` in its 8th note, see http://opml.org/spec2.opml#1629043129000.
> 
> As much as I'd like to see `application/opml+xml` being used, it's not registered with IANA.

It doesn't need to be registered, but you could. That's the whole point of the extension syntax in MIME types. 

The application base type is not correct. "application" is for binary data types that do not have another category. OPML is a XML-based syntax. It should be a subtype of text/xml. The right answer is to use the existing extension syntax and qualify the text/xml type with a subtype. 

It should be "text/opml+xml" according to [RFC 7303, section 9.6:](https://datatracker.ietf.org/doc/html/rfc7303#section-9.6)


On Mon Jan 26, 2026 at 10:27 PM CET, Chuck Shotton wrote:
> cshotton left a comment (scripting/opml.org#20)
>
>> The OPML spec says it's `text/x-opml` in its 8th note, see 
>> http://opml.org/spec2.opml#1629043129000.
>> 
>> As much as I'd like to see `application/opml+xml` being used, it's 
>> not registered with IANA.
>
> It doesn't need to be registered, but you could. That's the whole 
> point of the extension syntax in MIME types. 

I'm pretty sure that it would still need to be registered. RFC 6838, 
tough, defines a vendor tree and a personal tree, respectively with the 
`vnd.` and `.prs` prefixes. These are explicitly described as not 
requiring registration.

> The application base type is not correct. "application" is for binary 
> data types that do not have another category. OPML is a XML-based 
> syntax. It should be a subtype of text/xml. The right answer is to use 
> the existing extension syntax and qualify the text/xml type with 
> a subtype. 
>
> It should be "text/opml+xml" according to [RFC 7303, section 
> 9.6:](https://datatracker.ietf.org/doc/html/rfc7303#section-9.6)

There are no text/xml subtypes, while there are more then 400 registered
application/xml subtypes. I think this has something to do with the 
character encoding of text/* types. Section 4.1 seems to imply this as 
well:

    Compared to [RFC2376] or [RFC3023], this specification alters the
    handling of character encoding of text/xml and text/xml-external-
    parsed-entity, treating them no differently from the respective
    application/ types.  However, application/xml and application/xml-
    external-parsed-entity are still RECOMMENDED, to avoid possible
    confusion based on the earlier distinction.

That's the reason why I suggested application/opml+xml instead of the 
respective text/+xml type.


Is OPML a binary format or a text format? (Rhetorical -- it's a text format.) So what is the rationale for saying it should be application/opml instead of text/opml? Regardless of its gross misuse, application is defined as being for application-specific **binary** formats.

Hi Chuck, I do agree with your point. Still, it seems that IANA and the whole XML community has decided to use application/xml subtypes (which, I do agree, looks wrong).

I think OPML could settle on using a text/xml subtype, but, to the best of my knowledge, would literally be the only text/xml subtype.

One way of solving this for good would be to propose to IANA a registration for the text/opml+xml media type, and see what they say. If text/xml subtypes are de-facto disallowed (as opposed to just discouraged for the reasons I mentioned in my previous comment), we will then find out.


if IANA asked me i'd say it's not an issue, leave well enough alone. :-)





Oh, this is fun. [Section 4.1.1 of RFC 2046](https://www.rfc-editor.org/rfc/rfc2046.html#section-4.1.1) says that `text/*` types _MUST_ use a CRLF sequence to represent line breaks. So maybe that's why it isn't used as much?